@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,400&display=swap');

#interactive-data p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin:0rem 0rem 1rem 0rem;
    font-size:16px;
    color: #272727;
}

#interactive-data h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin:1rem 0rem 1rem 0rem;
    font-size:25px;
    color: #272727;   
}

#interactive-data b{
    font-family: inherit;
    color:inherit;
    font-weight:700;
}

#interactive-data a{
    color:#962573;
    font-family:inherit;
    text-decoration: none;
    border-bottom:1px solid #962573;
}

#interactive-data i{
    font-style:italic;
    margin-top:1.5em;
    font-size:0.9em;
    display:block;
    color:inherit;
}

#interactive-data text{
    font-family: 'Montserrat', sans-serif;
}

#interactive-data div{
    box-sizing: border-box;
}

#interactive-data .flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#interactive-data .flex-container.flex-50 > div{
    width:48%;
    position:relative;
}

#interactive-data .c-fix:after{
    display:table;
    content:"";
    clear:both;
}

#interactive-data .flex-container.chart-wrapper{
    flex-wrap: nowrap;
    margin-bottom:3rem;
}

#interactive-data .flex-container.chart-wrapper > div{
    width:32%;
}

#interactive-data .flex-container.chart-wrapper > div:first-child{
    width:65%;
    padding:15px 10px;
    background-color:#f0f0f0;
    border: 1px solid #dddddd;
    border-radius:5px;
}

#interactive-data .flex-container > div.full-span{
    width:100%;
}

/*big chart has different proportions*/
#interactive-data .flex-container.chart-wrapper.big-chart{
    width:100%;
}

#interactive-data .flex-container.chart-wrapper.big-chart > div{
    width:25%;
}

#interactive-data .flex-container.chart-wrapper.big-chart > div:first-child{
    width:73%;
}

#interactive-data .role-axis .role-axis-grid line{
    shape-rendering: crispEdges;
}

#interactive-data select{
    margin-bottom:-1px;
    border:1px solid #111111;
}

#interactive-data #controls{
    margin:1rem 0rem 2rem 0rem;
    position:sticky;
    top:110px;
    left:0px;
    background:#ffffff;
    z-index:10;
    padding:5px 0px 0px 0px;
    border-bottom:1px solid #111111;
}

@media screen and (max-width: 1100px) {
    #interactive-data .flex-container.flex-50 > div{
        width: 100%;
    }
  }